<%- model_class = Transact -%>
<legend>Transactions</legend>
<!-- <div class="col-xs-4"> -->
<%#= select_tag(:account_id, options_from_collection_for_select(Account.order("created_at"), "id", "name"), {:class => 'form-control', onchange: "update_transactions_div(this.value)" }) %>
<%#= select_tag(:account_id, options_from_collection_for_select(Account.order("created_at"), "id", "name", selected: @account), {:class => 'form-control'}) %>
<!-- </div> -->

<!-- <div class="col-xs-4"> -->
	<%#= select_tag(:duration, options_for_select(['Weekly','Monthly','Yearly'], selected: "Monthly"), {:class => 'form-control', onchange: "update_transactions_div(this.value)" })  %>
	<%#= select_tag(:duration, options_for_select(['Weekly','Monthly','Yearly'], selected: @selected_duration ), {:class => 'form-control' })  %>
<!-- </div> -->
<!-- <br/> -->

<div class="loadingOverlay"></div>

<!-- <br/><br/> -->

<!-- <legend></legend> -->

<div id="account-nameDiv" align="center">
	<%= render "account_info", account_name: @account_name, duration: @duration %>
</div>
<br/>
<legend></legend>


<div id="transactionsDiv">
	<%= render 'transacts', transacts: @transacts %>
</div>
