<div class="hfeed site container_6" id="page">
  <header class="site-header grid_6 paprh cf" id="masthead" role="banner">
    <div class="logo grid_3 omega">
      <div class="header section" id="header"><div class="widget Header" id="Header1">
        <div id="header-inner">
          <div class="titlewrapper">
            <h1 class="site-title">
              <a href="./Newspress_files/Newspress.html">Newspress</a>
            </h1>
          </div>
          <div class="descriptionwrapper">
            <h2 class="site-description">BTemplates, the best place for Blogger Templates.</h2>
          </div>
        </div>
      </div></div>
    </div>
    <div class="grid_3 alpha">
      <div class="dtime">
        <script type="text/javascript">
//<![CDATA[

var mydate=new Date()
var year=mydate.getYear()
if (year < 1000)
  year+=1900
var day=mydate.getDay()
var month=mydate.getMonth()
var daym=mydate.getDate()
if (daym<10)
  daym="0"+daym
var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
document.write(dayarray[day]+", "+montharray[month]+" "+daym+", "+year)

//]]>
</script>Saturday, January 02, 2016
</div>
<form action="http://newspress2-btemplates.blogspot.in/search/" id="searchform" method="get">
  <label class="assistive-text" for="s">Search</label>
  <input class="field" id="s" name="q" placeholder="Search" type="text" value="">
  <input class="submit" id="searchsubmit" type="submit" value="Search">
</form>
</div>
</header>
<!-- #masthead .site-header -->
<div class="grid_6 cf" id="three_tier ">
  <div id="fmenu">
    <div class="menu-primary-container" id="topmenu">
      <div class="nbttopmenu section" id="nbttopmenu"><div class="widget PageList" id="PageList8">
        <div class="widget-content">
          <ul class="sfmenu sf-js-enabled sf-shadow" id="menu-primary">
            <li id="currentpage"><a href="./Newspress_files/Newspress.html">Home</a></li>
            <li><a href="http://newspress2-btemplates.blogspot.in/p/about.html">About</a></li>
            <li><a href="http://newspress2-btemplates.blogspot.in/p/contact.html">Contact</a></li>
          </ul>
          <div class="clear"></div>
          <span class="widget-item-control">
            <span class="item-control blog-admin">
              <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=PageList&widgetId=PageList8&action=editWidget&sectionId=nbttopmenu" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PageList8&quot;));" target="configPageList8" title="Edit">
                <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
              </a>
            </span>
          </span>
          <div class="clear"></div>
        </div>
      </div></div>
    </div>
  </div>
  <div id="smenu">
    <div class="menu-secondary-container" id="submenu">
      <ul class="sfmenu sf-js-enabled sf-shadow" id="menu-secondary">
        <li><a href="http://newspress2-btemplates.blogspot.in/#">Category 1</a></li>
        <li><a href="http://newspress2-btemplates.blogspot.in/#">Featured</a></li>
        <li><a href="http://newspress2-btemplates.blogspot.in/#" class="sf-with-ul">Category 2<span class="sf-sub-indicator"> »</span></a>
          <ul class="sub-menu" style="display: none; visibility: hidden;">
            <li><a href="http://newspress2-btemplates.blogspot.in/#">Child-1</a></li>
            <li><a href="http://newspress2-btemplates.blogspot.in/#">Child-2</a></li>
            <li><a href="http://newspress2-btemplates.blogspot.in/#" class="sf-with-ul">Child-3<span class="sf-sub-indicator"> »</span></a>
              <ul class="sub-menu" style="display: none; visibility: hidden;">
                <li><a href="http://newspress2-btemplates.blogspot.in/#">Grand-child 1</a></li>
                <li><a href="http://newspress2-btemplates.blogspot.in/#">Grand-child 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="http://newspress2-btemplates.blogspot.in/#">Category 3</a></li>
        <li><a href="http://newspress2-btemplates.blogspot.in/#">Uncategorized</a></li>
      </ul>
    </div>
  </div>
  <div class="cf paprh" id="flashn">
    <h3>Flash news:</h3>
    <div id="ticker" style="display: block; position: relative; height: 38px; overflow: hidden;">
      <ul style="position: absolute; margin: 0px; top: 0px;">





        <li style="margin: 0px; display: list-item;"><a href="http://newspress2-btemplates.blogspot.in/NEWS-1-LINK-HERE" style="margin: 0px;">NEWS-1-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a href="http://newspress2-btemplates.blogspot.in/NEWS-2-LINK-HERE" style="margin: 0px;">NEWS-2-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a href="http://newspress2-btemplates.blogspot.in/NEWS-3-LINK-HERE" style="margin: 0px;">NEWS-3-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a href="http://newspress2-btemplates.blogspot.in/NEWS-4-LINK-HERE" style="margin: 0px;">NEWS-4-TITLE-HERE</a></li><li style="margin: 0px; display: list-item;"><a href="http://newspress2-btemplates.blogspot.in/NEWS-5-LINK-HERE" style="margin: 0px;">NEWS-5-TITLE-HERE</a></li></ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="site-main cf" id="main">
    <div class="content-area grid_4 " id="primary">
      <div class="site-content papr cf" id="content" role="main">
        <div class="mainsec section" id="mainsec"><div class="widget Blog" id="Blog1">
          <div class="blog-posts hfeed">

            <div class="date-outer">

              <h2 class="date-header"><span>Thursday, January 31, 2013</span></h2>

              <div class="date-posts">

                <div class="post-outer">
                  <div class="wrapfullpost">
                    <article class="post hentry">
                      <a name="6594048573928370354"></a>
                      <div id="summary26594048573928370354"><img class="postimg" src="./Newspress_files/Antartic-by-Peter-Rejcek.jpg" width="180px" height="140px"></div>
                      <script type="text/javascript">createSummaryAndThumb2("summary26594048573928370354");</script>
                      <div class="cover">
                        <header class="entry-header">
                          <h2 class="post-title entry-title">
                            <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html">Lorem Ipsum</a>
                          </h2>
                          <div class="entry-meta">
                            Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html#comment-form" onclick="">2 comments</a>
                          </div>
                        </header>
                        <div class="post-header-line-1"></div>
                        <div class="post-body entry-summary entry">
                          <div id="summary6594048573928370354"><div>Download this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blog.» A normal paragraphEa eam labores imperdiet, [...]</div></div>
                          <script type="text/javascript">createSummaryAndThumb("summary6594048573928370354");</script>
                          <div style="clear: both;"></div>
                        </div>
                        <div style="clear: both;"></div>
                        <footer class="entry-meta">
                          This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                        </footer>
                        <div style="float:right;padding-right:10px;margin-top:10px;">
                          <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html">Read More</a>
                        </div>
                      </div>
                      <div class="post-footer">
                        <div class="post-footer-line post-footer-line-"></div>
                        <div class="post-footer-line post-footer-line-2"></div>
                        <div class="post-footer-line post-footer-line-3">
                          <span class="item-control blog-admin pid-1592311861">
                            <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&postID=6594048573928370354&from=pencil" title="Edit Post">
                              <img alt="" class="icon-action" height="18" src="./Newspress_files/icon18_edit_allbkg.gif" width="18">
                            </a>
                          </span>
                        </div></div>
                      </article>
                    </div>
                    <div style="clear: both;height:20px;"></div>
                  </div>
                  <div class="post-outer">
                    <div class="wrapfullpost">
                      <article class="post hentry">
                        <a name="1156922885682836588"></a>
                        <div id="summary21156922885682836588"><img class="postimg" src="./Newspress_files/Antartic-by-Kelly-Speelman.jpg" width="180px" height="140px"></div>
                        <script type="text/javascript">createSummaryAndThumb2("summary21156922885682836588");</script>
                        <div class="cover">
                          <header class="entry-header">
                            <h2 class="post-title entry-title">
                              <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html">Lorem Ipsum</a>
                            </h2>
                            <div class="entry-meta">
                              Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html#comment-form" onclick="">No comments</a>
                            </div>
                          </header>
                          <div class="post-header-line-1"></div>
                          <div class="post-body entry-summary entry">
                            <div id="summary1156922885682836588"><div>» An ImageDownload this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blog.» A floating image with link and text [...]</div></div>
                            <script type="text/javascript">createSummaryAndThumb("summary1156922885682836588");</script>
                            <div style="clear: both;"></div>
                          </div>
                          <div style="clear: both;"></div>
                          <footer class="entry-meta">
                            This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                          </footer>
                          <div style="float:right;padding-right:10px;margin-top:10px;">
                            <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_31.html">Read More</a>
                          </div>
                        </div>
                        <div class="post-footer">
                          <div class="post-footer-line post-footer-line-"></div>
                          <div class="post-footer-line post-footer-line-2"></div>
                          <div class="post-footer-line post-footer-line-3">
                            <span class="item-control blog-admin pid-1592311861">
                              <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&postID=1156922885682836588&from=pencil" title="Edit Post">
                                <img alt="" class="icon-action" height="18" src="./Newspress_files/icon18_edit_allbkg.gif" width="18">
                              </a>
                            </span>
                          </div></div>
                        </article>
                      </div>
                      <div style="clear: both;height:20px;"></div>
                    </div>
                    <div class="post-outer">
                      <div class="wrapfullpost">
                        <article class="post hentry">
                          <a name="1308695558697404753"></a>
                          <div id="summary21308695558697404753"><img class="postimg" src="./Newspress_files/popocatepetl-iztaccihuatl.jpg" width="180px" height="140px"></div>
                          <script type="text/javascript">createSummaryAndThumb2("summary21308695558697404753");</script>
                          <div class="cover">
                            <header class="entry-header">
                              <h2 class="post-title entry-title">
                                <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html">Lorem Ipsum</a>
                              </h2>
                              <div class="entry-meta">
                                Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html#comment-form" onclick="">No comments</a>
                              </div>
                            </header>
                            <div class="post-header-line-1"></div>
                            <div class="post-body entry-summary entry">
                              <div id="summary1308695558697404753"><div>Download this and more Blogger Templates at . For tutorials, tips and tricks about Blogger visit our Blo [...]</div></div>
                              <script type="text/javascript">createSummaryAndThumb("summary1308695558697404753");</script>
                              <div style="clear: both;"></div>
                            </div>
                            <div style="clear: both;"></div>
                            <footer class="entry-meta">
                              This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202" rel="tag">Lorem 2</a>, <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203" rel="tag">Lorem 3</a>
                            </footer>
                            <div style="float:right;padding-right:10px;margin-top:10px;">
                              <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum.html">Read More</a>
                            </div>
                          </div>
                          <div class="post-footer">
                            <div class="post-footer-line post-footer-line-"></div>
                            <div class="post-footer-line post-footer-line-2"></div>
                            <div class="post-footer-line post-footer-line-3">
                              <span class="item-control blog-admin pid-1592311861">
                                <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&postID=1308695558697404753&from=pencil" title="Edit Post">
                                  <img alt="" class="icon-action" height="18" src="./Newspress_files/icon18_edit_allbkg.gif" width="18">
                                </a>
                              </span>
                            </div></div>
                          </article>
                        </div>
                        <div style="clear: both;height:20px;"></div>
                      </div>
                      <div class="post-outer">
                        <div class="wrapfullpost">
                          <article class="post hentry">
                            <a name="906996955940511104"></a>
                            <div id="summary2906996955940511104"><img class="postimg" src="./Newspress_files/BeachWaves-By-RePublicDomain.jpg" width="180px" height="140px"></div>
                            <script type="text/javascript">createSummaryAndThumb2("summary2906996955940511104");</script>
                            <div class="cover">
                              <header class="entry-header">
                                <h2 class="post-title entry-title">
                                  <a href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html">Template images</a>
                                </h2>
                                <div class="entry-meta">
                                  Posted on <time class="entry-date">12:20 PM</time><span> by <span class="author vcard">BTemplates</span></span> with <a href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html#comment-form" onclick="">No comments</a>
                                </div>
                              </header>
                              <div class="post-header-line-1"></div>
                              <div class="post-body entry-summary entry">
                                <div id="summary906996955940511104"><div>3 Images in this template:(Click on each to download)menu.pngstripe.pngcomment-avatar. [...]</div></div>
                                <script type="text/javascript">createSummaryAndThumb("summary906996955940511104");</script>
                                <div style="clear: both;"></div>
                              </div>
                              <div style="clear: both;"></div>
                              <footer class="entry-meta">
                                This entry was posted in : <a href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201" rel="tag">Lorem 1</a>
                              </footer>
                              <div style="float:right;padding-right:10px;margin-top:10px;">
                                <a class="morer" href="http://newspress2-btemplates.blogspot.in/2013/01/template-images.html">Read More</a>
                              </div>
                            </div>
                            <div class="post-footer">
                              <div class="post-footer-line post-footer-line-"></div>
                              <div class="post-footer-line post-footer-line-2"></div>
                              <div class="post-footer-line post-footer-line-3">
                                <span class="item-control blog-admin pid-1592311861">
                                  <a href="https://www.blogger.com/post-edit.g?blogID=4285083475741806618&postID=906996955940511104&from=pencil" title="Edit Post">
                                    <img alt="" class="icon-action" height="18" src="./Newspress_files/icon18_edit_allbkg.gif" width="18">
                                  </a>
                                </span>
                              </div></div>
                            </article>
                          </div>
                          <div style="clear: both;height:20px;"></div>
                        </div>

                      </div></div>

                    </div>
                    <div style="clear: both;"></div>
                    <div class="blog-pager" id="blog-pager">
                      <a class="home-link" href="./Newspress_files/Newspress.html">Home</a>
                    </div>
                    <div class="clear"></div>
                    <div class="blog-feeds">
                      <div class="feed-links">
                        Subscribe to:
                        <a class="feed-link" href="http://newspress2-btemplates.blogspot.com/feeds/posts/default" target="_blank" type="application/atom+xml">Posts (Atom)</a>
                      </div>
                    </div>
                    <script type="text/javascript">window.___gcfg = {'lang': 'en'};</script>
                  </div></div>
                </div><!-- #content .site-content -->
              </div><!-- #primary .content-area -->
              <div class="widget-area grid_2 omega" id="secondary" role="complementary">
                <div class="sidebar">
                  <div class="sidebartop section" id="sidebartop"><div class="widget PopularPosts" id="PopularPosts1">
                    <h2>Popular Posts</h2>
                    <div class="widget-content popular-posts">
                      <ul>
                        <li>
                          <div class="item-content">
                            <div class="item-thumbnail">
                              <a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html" target="_blank">
                                <img alt="" border="0" height="72" src="./Newspress_files/Antartic-by-Peter-Rejcek(1).jpg" width="72">
                              </a>
                            </div>
                            <div class="item-title"><a href="http://newspress2-btemplates.blogspot.in/2013/01/lorem-ipsum_4296.html">Lorem Ipsum</a></div>
                            <div class="item-snippet">Download this and more Blogger Templates  at . For tutorials, tips and tricks about Blogger visit our Blog . » A normal paragraph Ea eam lab...</div>
                          </div>
                          <div style="clear: both;"></div>
                        </li>
                      </ul>
                      <div class="clear"></div>
                      <span class="widget-item-control">
                        <span class="item-control blog-admin">
                          <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=PopularPosts&widgetId=PopularPosts1&action=editWidget&sectionId=sidebartop" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));" target="configPopularPosts1" title="Edit">
                            <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                          </a>
                        </span>
                      </span>
                      <div class="clear"></div>
                    </div>
                  </div><div class="widget HTML" id="HTML5">
                  <h2 class="title">Blogger templates</h2>
                  <div class="widget-content">
                    <script type="text/javascript">if(typeof jQuery == 'undefined'){document.write("<scr" + "ipt type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></scr" + "ipt>");}</script>
                    <ul id="rssdata"><li><a href="http://feedproxy.google.com/~r/btemplates/~3/jwCGmcadUIY/">DCM White</a></li><li><a href="http://feedproxy.google.com/~r/btemplates/~3/iwjvTEQEx2g/">Sorbet</a></li><li><a href="http://feedproxy.google.com/~r/btemplates/~3/xdT1GZuqvX0/">Simple and Bright</a></li><li><a href="http://feedproxy.google.com/~r/btemplates/~3/Hpr-NfZitAY/">Pratico</a></li><li><a href="http://feedproxy.google.com/~r/btemplates/~3/SVGPa5C0ZwM/">Lovely</a></li></ul><div id="rssloading" style="display: none;">Loading...</div>
                    <script type="text/javascript">

                      jQuery.noConflict();

                      if( ! jQuery().jGFeed ) { (function(jQuery){jQuery.extend({jGFeed:function(url,fnk,num,key){if(url==null){return false;}var gurl="http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q="+url;if(num!=null){gurl+="&num="+num;}if(key!=null){gurl+="&key="+key;}jQuery.getJSON(gurl,function(data){if(typeof fnk=="function"){fnk.call(this,data.responseData.feed);}else{return false;}});}});})(jQuery); }
                      jQuery.jGFeed('http://btemplates.com/feed/',
                        function(feeds){
                          if(!feeds){return false;}
                          for (var i=0; i < feeds.entries.length; i++) {
                            var item = feeds.entries[i];
                            var item_html = '<li><a href="'+item.link+'">'+item.title+'</a></li>';
                            jQuery('#rssdata').append(item_html);
                          }
                          jQuery('#rssloading').fadeOut();
                          jQuery('#rssdata').slideDown();
                        }, 5);</script>
                      </div>
                      <div class="clear"></div>
                      <span class="widget-item-control">
                        <span class="item-control blog-admin">
                          <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=HTML&widgetId=HTML5&action=editWidget&sectionId=sidebartop" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML5&quot;));" target="configHTML5" title="Edit">
                            <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                          </a>
                        </span>
                      </span>
                      <div class="clear"></div>
                    </div><div class="widget HTML" id="HTML4">
                    <h2 class="title">Blogger news</h2>
                    <div class="widget-content">
                      <script type="text/javascript">if(typeof jQuery == 'undefined'){document.write("<scr" + "ipt type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></scr" + "ipt>");}</script>
                      <ul id="rssdata1"><li><a href="http://blog.btemplates.com/blogger-infographic/">Blogger in one image.</a></li><li><a href="http://blog.btemplates.com/customizing-blogger-templates-easily-firebug/">Customizing Blogger templates easily with Firebug</a></li><li><a href="http://blog.btemplates.com/papercut-really-cool-social-icons/">PaperCut, really cool social icons.</a></li><li><a href="http://blog.btemplates.com/blogger-dynamic-views/">Blogger Dynamic Views</a></li><li><a href="http://blog.btemplates.com/freedream-blogger-theme/">FreeDream, Blogger theme</a></li></ul><div id="rssloading1" style="display: none;">Loading...</div>
                      <script type="text/javascript">

                        jQuery.noConflict();

                        if( ! jQuery().jGFeed ) { (function(jQuery){jQuery.extend({jGFeed:function(url,fnk,num,key){if(url==null){return false;}var gurl="http://ajax.googleapis.com/ajax/services/feed/load?v=1.0&callback=?&q="+url;if(num!=null){gurl+="&num="+num;}if(key!=null){gurl+="&key="+key;}jQuery.getJSON(gurl,function(data){if(typeof fnk=="function"){fnk.call(this,data.responseData.feed);}else{return false;}});}});})(jQuery); }
                        jQuery.jGFeed('http://blog.btemplates.com/feed/',
                          function(feeds){
                            if(!feeds){return false;}
                            for (var i=0; i < feeds.entries.length; i++) {
                              var item = feeds.entries[i];
                              var item_html = '<li><a href="'+item.link+'">'+item.title+'</a></li>';
                              jQuery('#rssdata1').append(item_html);
                            }
                            jQuery('#rssloading1').fadeOut();
                            jQuery('#rssdata1').slideDown();
                          }, 5);</script>
                        </div>
                        <div class="clear"></div>
                        <span class="widget-item-control">
                          <span class="item-control blog-admin">
                            <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=HTML&widgetId=HTML4&action=editWidget&sectionId=sidebartop" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML4&quot;));" target="configHTML4" title="Edit">
                              <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                            </a>
                          </span>
                        </span>
                        <div class="clear"></div>
                      </div><div class="widget Label" id="Label2">
                      <h2>Categories</h2>
                      <div class="widget-content list-label-widget-content">
                        <ul>
                          <li>
                            <a dir="ltr" href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%201">Lorem 1</a>
                            <span dir="ltr">(3)</span>
                          </li>
                          <li>
                            <a dir="ltr" href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%202">Lorem 2</a>
                            <span dir="ltr">(2)</span>
                          </li>
                          <li>
                            <a dir="ltr" href="http://newspress2-btemplates.blogspot.in/search/label/Lorem%203">Lorem 3</a>
                            <span dir="ltr">(3)</span>
                          </li>
                        </ul>
                        <div class="clear"></div>
                        <span class="widget-item-control">
                          <span class="item-control blog-admin">
                            <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=Label&widgetId=Label2&action=editWidget&sectionId=sidebartop" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Label2&quot;));" target="configLabel2" title="Edit">
                              <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                            </a>
                          </span>
                        </span>
                        <div class="clear"></div>
                      </div>
                    </div></div>
                  </div>
                </div><!-- #secondary .widget-area -->
              </div><!-- #main .site-main -->
              <div class="grid_6 paprh cf" id="bottom">
                <aside class="footer-widget">
                  <div class="footersec section" id="footersec1"><div class="widget HTML" id="HTML1">
                    <div class="widget-content">
                      <!-- Styles -->
                      <style type="text/css">
                        #share-box-0 {
                          width:300px;
                          overflow:hidden;
                        }
                        #share-box-0 .gplusone {
                          background-color:#f5fcfe;
                          border:1px solid #d8e6eb;
                          border-top:1px solid #FFF;
                          font-size:.87em;
                          color:#000;
                          line-height:24px;
                          padding:9px 0 0 11px;
                        }

                        #share-box-0 .gplusone span {
                          display:inline-block;
                          vertical-align:middle;
                          height:20px;
                          margin-top:-17px;
                        }

                        #share-box-0 .fb-like-box {
                          border:1px solid #dcdcdc;
                          padding:5px 11px;
                        }
                        #share-box-0 .twitter-follow {
                          background-color:#eef9fd;
                          border:1px solid #c7dbe2;
                          border-top:0;
                        }

                        #share-box-0 .twitter-follow iframe {
                          margin:9px 11px;
                        }
                        #other-social-bar {
                          background-color: #D8E6EB;
                          border: 1px solid #B6D0DA;
                          box-shadow: 0 1px 1px #FFFFFF inset;
                          font-family: "Arial","Helvetica",sans-serif;
                          font-weight: bold;
                          overflow: hidden;
                          padding: 0;
                        }
                        #other-social-bar ul {
                          list-style: none outside none;
                          padding-left: 4px;
                        }
                        #other-social-bar .other-follow {
                          color: #1E598E;
                          float: left;
                          height: 16px;
                          overflow: hidden;
                          padding: 10px 10px 7px;
                          width: 270px;
                        }
                        #other-social-bar .other-follow ul {
                          list-style: none outside none;
                          padding-left: 4px;
                        }
                        #other-social-bar .other-follow li {
                          border: 0 none;
                          display: inline;
                          font-size: 12px;
                          font-weight: bold;
                          text-shadow: 1px 1px white;
                        }
                        #other-social-bar .other-follow li a {
                          color: #1E598E;
                          display: inline;
                          font-size: 12px;
                          font-weight: bold;
                          text-shadow: 1px 1px white;
                        }
                        #other-social-bar .other-follow li.my-rss {
                          background: url(http://4.bp.blogspot.com/-3ZR8uAHB8QY/T-MLyuLqG4I/AAAAAAAAFxw/Zxk86OIXwJM/s000/rss-16x16.png) no-repeat scroll 0 0 transparent;
                          line-height: 1;
                          margin-bottom: 0;
                          padding: 0 3px 1px 20px;
                          width: 60px;
                        }
                        #other-social-bar .other-follow li.my-gplus {
                          background: url(http://2.bp.blogspot.com/-oV5JSdsA2Sw/T-MLyxNI7PI/AAAAAAAAFx4/rVvTQjUpjCE/s000/gplus-16x16.png) no-repeat transparent;
                          line-height: 1;
                          width: 60px;
                          padding: 0px 3px 1px 20px;
                          margin-bottom:0px;
                        }
                        #other-social-bar .other-follow li.my-pinterest {
                          background: url(http://4.bp.blogspot.com/-zYx6lF1--pw/T-MLzJGZcNI/AAAAAAAAFyA/R7emD2taC9s/s000/small-p-button.png) no-repeat transparent;
                          line-height: 1;
                          width: 60px;
                          padding: 0px 3px 1px 20px;
                          margin-bottom:0px;
                        }
                        #email-news-subscribe .email-box {
                          padding: 10px 10px; 
                          font-family: "Arial","Helvetica",sans-serif;
                          border-top: 0;
                          border-right: 1px solid #C7DBE2;
                          border-left: 1px solid #C7DBE2;
                          border-image: initial;
                        }
                        #email-news-subscribe .email-box input.email {
                          background:#FFFFFF;
                          border: 1px solid #dedede;
                          color: #999;
                          padding: 7px 10px 8px 10px;
                          -moz-border-radius: 3px;
                          -webkit-border-radius: 3px;
                          -o-border-radius: 3px;
                          -ms-border-radius: 3px;
                          -khtml-border-radius: 3px;
                          border-radius: 3px;
                          border-image: initial;
                          font-family: "Arial","Helvetica",sans-serif;
                        } 
                        #email-news-subscribe .email-box input.email:focus {
                          color:#333
                        } 
                        #email-news-subscribe .email-box input.subscribe {
                          background: -moz-linear-gradient(center top,#FFCA00 0,#FF9B00 100%);
                          background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFCA00),color-stop(1,#FF9B00));
                          background: -moz-linear-gradient(center top,#FFCA00 0,#FF9B00 100%);
                          -pie-background: linear-gradient(270deg,#ffca00,#ff9b00);
                          font-family: "Arial","Helvetica",sans-serif;
                          border-radius:3px;
                          -moz-border-radius:3px;
                          -webkit-border-radius:3px;
                          border:1px solid #cc7c00;
                          color:white;
                          text-shadow:#d08d00 1px 1px 0;
                          padding:7px 14px;
                          margin-left:3px;
                          font-weight:bold;
                          font-size:12px;
                          cursor:pointer;
                          border-image: initial;
                        }
                        #email-news-subscribe .email-box input.subscribe:hover {
                          background: #ff9b00;
                          background-image:-moz-linear-gradient(top,#ffda4d,#ff9b00);
                          background-image:-webkit-gradient(linear,left top,left bottom,from(#ffda4d),to(#ff9b00));
                          filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb);
                          outline:0;-moz-box-shadow:0 0 3px #999;
                          -webkit-box-shadow:0 0 3px #999;
                          box-shadow:0 0 3px #999
                          background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ffda4d),color-stop(1,#ff9b00));
                          background:-moz-linear-gradient(center top,#ffda4d 0,#ff9b00 100%);
                          -pie-background:linear-gradient(270deg,#ffda4d,#ff9b00);
                          border-radius:3px;
                          -moz-border-radius:3px;
                          -webkit-border-radius:3px;
                          border:1px solid #cc7c00;
                          color:#FFFFFF;
                          text-shadow:#d08d00 1px 1px 0
                        }
                      </style>


                      <div id="share-box-0">    
                        <!--div class="g-plus" data-href="https://plus.google.com/112902034741937106481" data-size="smallbadge"></div-->
                        <div class="fb-like-box">
                          <iframe scrolling="no" style="border-width: initial; border-color: initial; overflow-x: hidden; overflow-y: hidden; width: 286px; height: 66px; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; " title="Like this content on Facebook." class="fb_ltr" src="./Newspress_files/like.html"></iframe>
                        </div>
                        <div class="gplusone">
                          <div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px; background: transparent;"><iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1451679024966" name="I0_1451679024966" src="./Newspress_files/fastbutton.html" data-gapiattached="true" title="+1"></iframe></div> <span>Recommend on Google</span>
                        </div>
                        <div class="twitter-follow">
                          <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="./Newspress_files/follow_button.c633b87376883931e7436b93bb46a699.en.html" style="position: static; visibility: visible; width: 222px; height: 20px;" data-screen-name="btemplates"></iframe>
                        </div>
                        <div style="background: #E3EDF4;" id="email-news-subscribe">
                          <div class="email-box">
                            <form onsubmit="window.open(&#39;http://feedburner.google.com/fb/a/mailverify?uri=btemplates&#39;, &#39;popupwindow&#39;, &#39;scrollbars=yes,width=550,height=520&#39;);return true" target="popupwindow" method="post" action="http://feedburner.google.com/fb/a/mailverify"> 
                              <input type="text" onblur="if(this.value==&#39;&#39;)this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value=&#39;&#39;;" value="Enter your email" name="email" id="email" style="width: 140px; font-size: 12px;" class="email">    
                              <input type="hidden" name="uri" value="btemplates">
                              <input type="hidden" value="en_US" name="loc">
                              <input type="submit" value="Subscribe" name="commit" class="subscribe"> 
                            </form>
                          </div>
                        </div>
                        <div style="background: #D8E6EB;" id="other-social-bar">
                          <ul class="other-follow">
                            <li class="my-rss">
                              <a target="_blank" href="http://feeds.feedburner.com/btemplates" title="RSS" rel="nofollow">RSS Feed</a>
                            </li>
                            <li class="my-gplus">
                              <a target="_blank" href="http://plus.google.com/112902034741937106481" title="Google Plus" rel="nofollow">Google Plus</a>
                            </li>
                            <li class="my-pinterest">
                              <a target="_blank" href="http://pinterest.com/btemplates" title="Pinterest" rel="nofollow">Pinterest</a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- Scripts -->
                      <script type="text/javascript" src="./Newspress_files/plusone.js" gapi_processed="true">{lang: 'en'}</script>
                      <script type="text/javascript" src="./Newspress_files/widgets.js"></script>
                    </div>
                    <div class="clear"></div>
                    <span class="widget-item-control">
                      <span class="item-control blog-admin">
                        <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=HTML&widgetId=HTML1&action=editWidget&sectionId=footersec1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML1&quot;));" target="configHTML1" title="Edit">
                          <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                        </a>
                      </span>
                    </span>
                    <div class="clear"></div>
                  </div></div>
                </aside>
                <aside class="footer-widget">
                  <div class="footersec section" id="footersec2"><div class="widget HTML" id="HTML3">
                    <h2 class="title">Blogroll</h2>
                    <div class="widget-content">
                      <ul><li><a href="http://btemplates.com/" title="Blogger templates">BTemplates</a></li><li><a href="http://blog.btemplates.com/">BTemplates Blog</a></li><li><a href="http://newbloggerthemes.com/">NBThemes</a></li></ul>
                    </div>
                    <div class="clear"></div>
                    <span class="widget-item-control">
                      <span class="item-control blog-admin">
                        <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=HTML&widgetId=HTML3&action=editWidget&sectionId=footersec2" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML3&quot;));" target="configHTML3" title="Edit">
                          <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                        </a>
                      </span>
                    </span>
                    <div class="clear"></div>
                  </div></div>
                </aside>
                <aside class="footer-widget">
                  <div class="footersec section" id="footersec3"><div class="widget HTML" id="HTML2">
                    <h2 class="title">About</h2>
                    <div class="widget-content">
                      Mel putent quaeque an, ut postea melius denique sit. Officiis sensibus at mea, sea at labitur deserunt. Eam dicam congue soluta ut. <a href="http://btemplates.com/">Blogger Templates</a>
                    </div>
                    <div class="clear"></div>
                    <span class="widget-item-control">
                      <span class="item-control blog-admin">
                        <a class="quickedit" href="http://www.blogger.com/rearrange?blogID=4285083475741806618&widgetType=HTML&widgetId=HTML2&action=editWidget&sectionId=footersec3" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML2&quot;));" target="configHTML2" title="Edit">
                          <img alt="" height="18" src="./Newspress_files/icon18_wrench_allbkg.png" width="18">
                        </a>
                      </span>
                    </span>
                    <div class="clear"></div>
                  </div></div>
                </aside>
                <div class="clear"></div>
              </div>
              <footer class="site-footer grid_6 cf" id="colophon" role="contentinfo">
                <div class="site-info">
                  <div class="fcred">
                    Copyright 2012 <a href="./Newspress_files/Newspress.html">Newspress</a> | Powered by <a href="http://www.blogger.com/">Blogger</a>
                    <br>Design by <a href="http://www.fabthemes.com/" target="_blank">Fabthemes</a> | Blogger Template by <a href="http://newbloggerthemes.com/" target="_blank" title="Best Blogger Templates">NewBloggerThemes.com</a>
                  </div>
                </div><!-- .site-info -->
              </footer><!-- #colophon .site-footer -->
            </div><!-- #page .hfeed .site -->
            <script type="text/javascript">
              if (window.jstiming) window.jstiming.load.tick('widgetJsBefore');
            </script><script type="text/javascript" src="./Newspress_files/278981662-widgets.js"></script>
            <script type="text/javascript" src="./Newspress_files/plusone.js" gapi_processed="true"></script>
            <script type="text/javascript">
              if (typeof(BLOG_attachCsiOnload) != 'undefined' && BLOG_attachCsiOnload != null) { window['blogger_templates_experiment_id'] = "templatesV1";window['blogger_blog_id'] = '4285083475741806618';BLOG_attachCsiOnload(''); }_WidgetManager._Init('//www.blogger.com/rearrange?blogID\x3d4285083475741806618','//newspress2-btemplates.blogspot.in/','4285083475741806618');
              _WidgetManager._SetDataContext([{'name': 'blog', 'data': {'blogId': '4285083475741806618', 'bloggerUrl': 'https://www.blogger.com', 'title': 'Newspress', 'pageType': 'index', 'url': 'http://newspress2-btemplates.blogspot.in/', 'canonicalUrl': 'http://newspress2-btemplates.blogspot.com/', 'homepageUrl': 'http://newspress2-btemplates.blogspot.in/', 'canonicalHomepageUrl': 'http://newspress2-btemplates.blogspot.com/', 'blogspotFaviconUrl': 'http://newspress2-btemplates.blogspot.in/favicon.ico', 'enabledCommentProfileImages': true, 'adultContent': false, 'analyticsAccountNumber': '', 'useUniversalAnalytics': false, 'pageName': '', 'pageTitle': 'Newspress', 'encoding': 'UTF-8', 'locale': 'en', 'localeUnderscoreDelimited': 'en', 'isPrivate': false, 'isMobile': false, 'isMobileRequest': false, 'mobileClass': '', 'isPrivateBlog': false, 'languageDirection': 'ltr', 'feedLinks': '\74link rel\75\42alternate\42 type\75\42application/atom+xml\42 title\75\42Newspress - Atom\42 href\75\42http://newspress2-btemplates.blogspot.com/feeds/posts/default\42 /\76\n\74link rel\75\42alternate\42 type\75\42application/rss+xml\42 title\75\42Newspress - RSS\42 href\75\42http://newspress2-btemplates.blogspot.com/feeds/posts/default?alt\75rss\42 /\76\n\74link rel\75\42service.post\42 type\75\42application/atom+xml\42 title\75\42Newspress - Atom\42 href\75\42https://www.blogger.com/feeds/4285083475741806618/posts/default\42 /\76\n', 'meTag': '\74link rel\75\42me\42 href\75\42https://www.blogger.com/profile/04752887254250043082\42 /\76\n', 'openIdOpTag': '\74link rel\75\42openid.server\42 href\75\42https://www.blogger.com/openid-server.g\42 /\76\n\74link rel\75\42openid.delegate\42 href\75\42http://newspress2-btemplates.blogspot.com/\42 /\76\n', 'latencyHeadScript': '\74script type\75\42text/javascript\42\76(function() { (function(){function c(a){this.t\75{};this.tick\75function(a,c,b){var d\75void 0!\75b?b:(new Date).getTime();this.t[a]\75[d,c];if(void 0\75\75b)try{window.console.timeStamp(\42CSI/\42+a)}catch(e){}};this.tick(\42start\42,null,a)}var a;window.performance\46\46(a\75window.performance.timing);var h\75a?new c(a.responseStart):new c;window.jstiming\75{Timer:c,load:h};if(a){var b\75a.navigationStart,e\75a.responseStart;0\74b\46\46e\76\75b\46\46(window.jstiming.srt\75e-b)}if(a){var d\75window.jstiming.load;0\74b\46\46e\76\75b\46\46(d.tick(\42_wtsrt\42,void 0,b),d.tick(\42wtsrt_\42,\n\42_wtsrt\42,e),d.tick(\42tbsd_\42,\42wtsrt_\42))}try{a\75null,window.chrome\46\46window.chrome.csi\46\46(a\75Math.floor(window.chrome.csi().pageT),d\46\0460\74b\46\46(d.tick(\42_tbnd\42,void 0,window.chrome.csi().startE),d.tick(\42tbnd_\42,\42_tbnd\42,b))),null\75\75a\46\46window.gtbExternal\46\46(a\75window.gtbExternal.pageT()),null\75\75a\46\46window.external\46\46(a\75window.external.pageT,d\46\0460\74b\46\46(d.tick(\42_tbnd\42,void 0,window.external.startE),d.tick(\42tbnd_\42,\42_tbnd\42,b))),a\46\46(window.jstiming.pt\75a)}catch(k){}})();window.tickAboveFold\75function(c){var a\0750;if(c.offsetParent){do a+\75c.offsetTop;while(c\75c.offsetParent)}c\75a;750\76\75c\46\46window.jstiming.load.tick(\42aft\42)};var f\75!1;function g(){f||(f\75!0,window.jstiming.load.tick(\42firstScrollTime\42))}window.addEventListener?window.addEventListener(\42scroll\42,g,!1):window.attachEvent(\42onscroll\42,g);\n })();\74/script\076', 'mobileHeadScript': '', 'view': '', 'dynamicViewsCommentsSrc': '//www.blogblog.com/dynamicviews/4224c15c4e7c9321/js/comments.js', 'dynamicViewsScriptSrc': '//www.blogblog.com/dynamicviews/433c1c2e1ace5832', 'plusOneApiSrc': 'https://apis.google.com/js/plusone.js', 'sf': 'n'}}, {'name': 'messages', 'data': {'archive': 'Archive', 'deleteBacklink': 'Delete Backlink', 'deleteComment': 'Delete Comment', 'emailAddress': 'Email Address', 'getEmailNotifications': 'Get email notifications', 'keepReading': 'Keep reading', 'labels': 'Labels', 'loadMorePosts': 'Load more posts', 'loading': 'Loading...', 'myBlogList': 'My Blog List', 'myFavoriteSites': 'My favorite sites', 'newer': 'Newer', 'newerPosts': 'Newer Posts', 'newest': 'Newest', 'noResultsFound': 'No results found', 'noTitle': 'No title', 'older': 'Older', 'olderPosts': 'Older Posts', 'oldest': 'Oldest', 'onlyTeamMembersCanComment': 'Note: Only a member of this blog may post a comment.', 'popularPosts': 'Popular Posts', 'popularPostsFromThisBlog': 'Popular posts from this blog', 'postAComment': 'Post a Comment', 'reportAbuse': 'Report Abuse', 'search': 'Search', 'share': 'Share', 'showAll': 'Show all', 'subscribe': 'Subscribe', 'subscribeToThisBlog': 'Subscribe to this blog', 'theresNothingHere': 'There\47s nothing here!'}}, {'name': 'skin', 'data': {'vars': {}, 'override': ''}}, {'name': 'view', 'data': {'classic': {'name': 'classic', 'url': '?view\75classic'}, 'flipcard': {'name': 'flipcard', 'url': '?view\75flipcard'}, 'magazine': {'name': 'magazine', 'url': '?view\75magazine'}, 'mosaic': {'name': 'mosaic', 'url': '?view\75mosaic'}, 'sidebar': {'name': 'sidebar', 'url': '?view\75sidebar'}, 'snapshot': {'name': 'snapshot', 'url': '?view\75snapshot'}, 'timeslide': {'name': 'timeslide', 'url': '?view\75timeslide'}}}]);
              _WidgetManager._RegisterWidget('_HeaderView', new _WidgetInfo('Header1', 'header', null, document.getElementById('Header1'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_PageListView', new _WidgetInfo('PageList8', 'nbttopmenu', null, document.getElementById('PageList8'), {'title': 'Pages - Menu', 'links': [{'href': 'http://newspress2-btemplates.blogspot.in/', 'title': 'Home', 'isCurrentPage': true}, {'href': 'http://newspress2-btemplates.blogspot.in/p/about.html', 'title': 'About', 'isCurrentPage': false, 'id': '2657473706639615515'}, {'href': 'http://newspress2-btemplates.blogspot.in/p/contact.html', 'title': 'Contact', 'isCurrentPage': false, 'id': '7112893669244648336'}], 'mobile': false}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_BlogView', new _WidgetInfo('Blog1', 'mainsec', null, document.getElementById('Blog1'), {'cmtInteractionsEnabled': false, 'lightboxEnabled': true, 'lightboxModuleUrl': 'https://www.blogger.com/static/v1/jsbin/4156661259-lbx.js', 'lightboxCssUrl': 'https://www.blogger.com/static/v1/v-css/1185134592-lightbox_bundle.css'}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_PopularPostsView', new _WidgetInfo('PopularPosts1', 'sidebartop', null, document.getElementById('PopularPosts1'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML5', 'sidebartop', null, document.getElementById('HTML5'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML4', 'sidebartop', null, document.getElementById('HTML4'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_LabelView', new _WidgetInfo('Label2', 'sidebartop', null, document.getElementById('Label2'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML1', 'footersec1', null, document.getElementById('HTML1'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML3', 'footersec2', null, document.getElementById('HTML3'), {}, 'displayModeFull'));
              _WidgetManager._RegisterWidget('_HTMLView', new _WidgetInfo('HTML2', 'footersec3', null, document.getElementById('HTML2'), {}, 'displayModeFull'));
            </script>

            <iframe name="oauth2relay448737893" id="oauth2relay448737893" src="./Newspress_files/postmessageRelay.html" tabindex="-1" style="width: 1px; height: 1px; position: absolute; top: -100px;"></iframe>